html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: white;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
 
input[type=text] {
	font-size: 1.5em;
	height: 24px;
}

input[type=password] {
	font-size: 1.5em;
	height: 24px;
	width: 150px;
	margin-left: 20px;
}

input[type=radio] {
    width: 24px;
    height: 24px;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    float: right;
}

textarea {
    font-size: 1.2em;
}

label {
    font-size: 1.5em;
    vertical-align: top;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 20px;
    padding: 10px;
    background-color: black;
    z-index: 10;
}

#heading {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: dimgray;
    z-index: 10;
    display: none;
}

.controlButton {
    width: 18%;
    height: 28px;
    border: none;
    margin: 0;
}
/*
#upButton {
    background: url(upButton24px.svg) center center no-repeat;
}

#downButton {
    background: url(downButton24px.svg) center center no-repeat;
}

#deleteItemButton {
    background: url(deleteButton24px.svg) center center no-repeat;
}

#addButton {
    background: url(addButton24px.svg) center center no-repeat;
}

#editButton {
    background: url(moreButton24px.svg) center center no-repeat;
}
*/

#main {
    margin-top: 24px;
    width: 100%;
    position: relative;
  padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
  
#list {
    margins: 24px,10px,24px,10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-in-out;
    padding: 0 0.5em;
}


li {
	width: 100%;
	margin-bottom: 5px;
	text-align: left;
	font-size: 1.2em;
	/* line-height: 1.5; */
	color: white;
	background-color: black;
	display: block;
}

.list-item.selected {
    background-color: silver;
}
/*
.open-button {
    width: 24px;
    height: 24px;
    border: none;
    background: url(moreButton24px.svg) center center no-repeat;
    float: right;
}
*/
.dialog {
  background: dimgray;
  position: absolute;
  top: 0;
  padding: 5px;
  width: 100%;
  z-index: 20;
  display: none;
}

.dialog-title {
  font-size: 1.2em;
  font-weight: bold;
}

.dialog-buttons {
    margin: 10px;
}
/*
#secureChooser {
    float: right;
    text-align: right;
    margin: 10px;
}
*/
.icon-button {
    width: 24px;
    height: 24px;
    border: none;
}

.round-button {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: 0px solid #222;
	border-radius: 50%;
	background: gray;
	box-shadow: 0,0,3px,gray;
	z-index: 50;
}

.round-button img {
	display: block;
	width: 24px;
	height: 24px;
	padding: 13px;
}

#cancelAddButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#addActionGroup {
    float: right;
    right: 0;
}

#confirmAddButton {
    background: url(addButton24px.svg) center center no-repeat;
}

#cancelAddItemButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#addItemActionGroup {
    float: right;
    right: 0;
}

#confirmAddItemButton {
    background: url(addButton24px.svg) center center no-repeat;
}

#cancelItemButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#deleteItemButton {
	background: url(deleteButton24px.svg) center center no-repeat;
}

#cancelNoteButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#deleteNoteButton {
	background: url(deleteButton24px.svg) center center no-repeat;
}

#confirmNoteGroup {
    float: right;
    right: 10px;
}

#confirmItemButton {
    background: url(okButton24px.svg) center center no-repeat;
}

#cancelNoteButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#deleteItemButton {
	background: url(deleteButton24px.svg) center center no-repeat;
}

#confirmItemGroup {
    float: right;
    right: 10px;
}

#confirmNoteButton {
    background: url(okButton24px.svg) center center no-repeat;
}

#cancelKeyButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}

#confirmKeyGroup {
    float: right;
    right: 10px;
}

#confirmKeyButton {
    background: url(okButton24px.svg) center center no-repeat;
}

#cancelImportButton {
    background: url(cancelButton24px.svg) center center no-repeat;
}
